<div id="post_show" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading post_image">
        <%= image_tag @post.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <h1><%= @post.title %></h1>
        <p class="content"><%= @post.content %></p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <% if admin_signed_in? %>
                <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
                <%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
